@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #222;
  display: flex;
  height: 100%;
  flex: 1;
  font-weight: 200;
  letter-spacing: 0.05em;
}

#__next {
  display: flex;
  flex: 1;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}
