@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

html,
body {
  font-family: "Ubuntu", sans-serif;
  background-color: #fff;
  color: #111;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}
